* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    align-items: center;
    text-align: left;
}

#header {
    height: 8vh;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: sticky;
    top: 0;
    left: 0;
}

#header ul {
    display: flex;
    height: 8vh;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}

button {
    border: 0ch;
    background-color: transparent;
    color: white;
}

.card {
    display: flex;
    border-style: solid;
    border-color: orange;
    width: 30vw;
    height: 70vh;
    display: inline-block;
    margin: 16px;
}

.card img {
    width: 30vw;
}

h2 {
  background-color: white;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 0;
  margin: 0;
  font-size: 1.5rem;
}